body {
    background-color: rgb(200, 52, 15);
}

.nombre{
    background-color: brown;
    color: blue;
}

body{
    background-color: blueviolet;
}

.boton{
    background-color: blue; color: antiquewhite;
    
}